body {
  background-color: black;
}

.poster {
  margin-top: 100px;
  margin-left: 25%;
  width: 50%;
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
}
p {
  font-family: "Courier New", Courier, monospace;
}

#blue-box {
  width: 60%;
  height: 200px;
  background-color: blue;
  position: relative;
  left: 20%;
}

#red-circle {
  width: 40%;
  height: 200px;
  background-color: red;
  position: relative;
  left: 50%;
  top: 40%;
  border: 1px solid black;
  border-radius: 50%;
}

#navbar {
  background-color: yellow;
  display: flex;
}

#navbar > p {
  font-weight: bold;
}

#navbar > ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  gap: 2rem;
}

.pricing-container {
  color: white;
  border: 1px solid black;
  position: relative;
  top: 100px;
  display: flex;
  gap: 50px;
  flex-basis: 150px;
  justify-content: center;
}

@media (max-width: 1250px) {
  .pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.pricing-plan {
  border: 1px solid white;
  border-radius: 5%;
  background-color: azure;
  color: black;
  text-align: center;
  width: 250px;
}

.plan-title {
  font-size: 21px;
}

.plan-price {
  font-size: 33px;
}

.plan-features {
  list-style: none;
  text-align: left;
}

.plan-button {
  background-color: orange;
  border: none;
  width: 40%;
  border-radius: 10%;
  text-align: center;
  color: white;
}
